@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

:root {
    --min-canvas-width: 360px;
    --button-spacing: 0.75rem;
    --spacing-large: 1rem;
    --spacing-small: 0.5rem;
    --border-radius: 0.5rem;

    --button-grid-columns: 3;

    --bg-color: #111111;
    --bg-raised-color: #333333;
    --primary-text-color: white;
    --secondary-text-color: #babbba;
    --hint-text-color: #aaa;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: block;
}

input,
button {
    outline: none;
    border: none;
}

/* Remove arrows from input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    color: var(--primary-text-color);
    background-color: var(--bg-color);

    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--min-canvas-width), 1fr)
    );

    overflow-y: auto;
}

body > * {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

div#canvases {
    position: relative;
    background-color: var(--bg-raised-color);
}

div#canvases > * {
    position: absolute;
    width: 100%;
    height: 100%;

    box-shadow: 3px 3px 4px 1px black;
}

body,
div#canvases > * {
    padding: var(--spacing-large);
    box-sizing: border-box;
}

div#menu {
    font-family: 'Roboto Mono', monospace;
    padding: var(--spacing-small);
    box-sizing: border-box;

    display: flex;
    justify-content: start;
    flex-direction: column;
}

div#menu-title {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

div.menu-card {
    background-color: var(--bg-raised-color);
    padding: 0.75rem;
    margin: var(--spacing-large);
    border-radius: var(--border-radius);
    box-sizing: border-box;

    box-shadow: 3px 3px 4px 1px black;
}

div#menu-controls {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(1fr, var(--button-grid-columns));
    grid-gap: var(--button-spacing);
}

div.control-card > * {
    box-shadow: 1px 1px 3px 0.5px var(--bg-color);
    transition: filter 0.2s;
}

input#find-star-input {
    grid-column: 1 / calc(var(--button-grid-columns) + 1);
    width: 100%;
    box-sizing: border-box;
}

input#find-star-input {
    background: var(--bg-raised-color);
    color: var(--primary-text-color);

    border: 1px solid gray;
    padding: var(--spacing-small);
}

input#find-star-input:focus {
    filter: brightness(1.3);
}

button.menu-control-button {
    color: var(--primary-text-color);
    background-color: #777777;
}

button.menu-control-button:hover {
    filter: brightness(1.15);
    transition: filter 1s;
}

button.menu-control-button:active {
    filter: brightness(0.75);
}

div#export-data-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-large);
}

div#export-data-card > button {
    padding: var(--button-spacing);
}

div#menu-data {
    display: flex;
    flex-direction: column;
}

div.data-row {
    padding: var(--spacing-large);
    background-color: var(--bg-raised-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

div.data-row:not(:first-child) {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

div#import,
div#import-drop-zone {
    background-color: var(--bg-raised-color);
}

div#import {
    grid-column: 1 / 3;
    filter: brightness(1.1);
}

div#import-drop-zone {
    padding: var(--spacing-large);

    border: 1px solid var(--primary-text-color);
    box-sizing: border-box;

    transition: filter 1s;
    filter: brightness(0.7);
}

div#import-drop-zone.hover {
    filter: brightness(1.3);
}

div#import-hint {
    box-shadow: none;
    text-align: center;

    margin-top: var(--spacing-small);
    color: var(--hint-text-color);
}
